# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/.trae

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Env Files (Security Risk)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDEs
.idea
.vscode
*.swp
*.swo

# OS
Thumbs.db
